@model IEnumerable<Dominio.AssociacaoPosicao>

    @{
    ViewData["Title"] = "Associação de posições";
    }

    <h1>Associação de posições</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Posicao</th>
                <th>EntradaPosicao</th>
                <th>Detalhes</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var ass in Model)
        { 
            <tr>
                <td>Rack: @ass.Posicao.NrRack , Coluna : @ass.Posicao.Coluna, Linha: @ass.Posicao.Linha</td>
                <td>@ass.EntradaPosicao.TypeName</td>
                <td>
                    @if(ass.EntradaPosicao.IsSignal){
                    @Html.Partial("_SinalPartial", ass.EntradaPosicao.GetSinal)
                    }else{
                    <p>@ass.EntradaPosicao</p>
                    }
                </td>

            </tr>
        }

        </tbody>
    </table>
    <a asp-action="Create" class="btn btn-primary">Adicionar Associacao</a>



